.input {
  padding: 10px 10px 10px 28px;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  font-size: 14px;
  color: var(--color-graymidnight);
  &::placeholder {
    color: var(--color-graysteel);
  }
  &:focus {
    outline: 2px solid var(--color-cerulean);
  }
  &__icon {
    position: absolute;
    margin-top: 8px;
    margin-left: 4px;
  }
}